In [9]:
# Importing libraries neeeded for the project
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [10]:
# Reading the data and storing it in a dataframe
df_disasters = pd.read_csv("Climate Disasters Frequency.csv", delimiter="\t")
df_disasters.head()

,ObjectId,ISO2,ISO3,Indicator,1980,1981,1982,1983,1984,1985,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,AF,AFG,Drought,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
1,2,AF,AFG,Extreme temperature,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,AF,AFG,Flood,1.0,NaN,NaN,NaN,NaN,NaN,...,4.0,2.0,1.0,4.0,1.0,3.0,6.0,5.0,2.0,5.0
3,4,AF,AFG,Landslide,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,4.0,NaN,2.0,1.0,1.0,1.0,1.0,1.0
4,5,AF,AFG,Storm,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN

In [11]:
# Read the data and storing it in a dataframe
df_atmo = pd.read_csv('Atmospheric CO2 Concentrations.csv', delimiter='\t')
df_atmo.head()

,ObjectId,Country,ISO3,Indicator,Unit,CTS_Code,CTS_Name,CTS_Full_Descriptor,Date,Value
0,1,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M03,315.70
1,2,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M04,317.45
2,3,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M05,317.51
3,4,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M06,317.24
4,5,World,WLD,Monthly Atmospheric Carbon Dioxide Concentrations,Parts Per Million,ECCA,Atmospheric Carbon Dioxide Concentrations,"Environment, Climate Change, Climate Indicator...",1958M07,315.86

In [12]:
# Convert the 'Date' column to datetime format
df_atmo['Date'] = pd.to_datetime(df_atmo['Date'], format='%YM%m')
df_atmo['Date'].head()

# Extract the year from the 'Date' column and store it in a new column 'Year'
df_atmo['Year'] = df_atmo['Date'].dt.year

# Group the data by 'Year' and calculate the average of the 'values' column for each year
df_atmo = df_atmo.groupby('Year')['Value'].mean().reset_index()
df_atmo.head()

   Year       Value
0  1958  315.232000
1  1959  172.460455
2  1960  158.601667
3  1961  158.938333
4  1962  159.355000